{% extends "base.html" %}
{% block title %}Weryfikacja Wydarzeń{% endblock %}
{% block content %}
<style>
  .container1, .container2, .container3 {
    background-color: #b4dfe5; /* Jasny szary */
    border-radius: 15px;
    border: 2px solid white; /* Dodajemy białą obwódkę */
    overflow: hidden; /* Zapobiega wydostawaniu się elementów potomnych poza kontener */
    font-family: Arial, sans-serif; /* Ustawiamy font czcionki */
  }
   .container {
            background-color: #f8f9fa; /* Jasny szary */
            color: #333333; /* Ciemnoszary */
            text-align: center;
            padding: 10px;
            border-radius: 15px;
            width: 95%;
            margin: 1% auto; /* Zmieniono margin-top na margin, aby centrować */
        }
        .container_create_survey {
            position: relative;
            background-color: #b4dfe5; /* Pastelowy niebieski */
            color: #333333; /* Ciemnoszary */
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            padding: 30px;
            margin-top: 20px;
        }
</style>
<div class="container">
    <h1 class="text-center">Weryfikacja wydarzeń</h1>
<div class="container_create_survey">
    <div class="card-header container2">
      <h2 class="mb-0">Weryfikacja wydarzeń</h2>
    </div>
    <ul class="list-group list-group-flush">
      {% for event in pending_events %}
        <li class="list-group-item container3">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ event.name }}</h5>
            <small>{{ event.date }}</small>
          </div>
          <p class="mb-1">{{ event.data }}</p>
          <p class="mb-1">{{ event.place }}</p>
          <div class="btn-group" role="group">
            <form method="POST" action="{{ url_for('views.update_event_status', event_id=event.id, action='accept') }}">
              <button type="submit" class="btn btn-success">Zatwierdź</button>
            </form>
            <form method="POST" action="{{ url_for('views.update_event_status', event_id=event.id, action='reject') }}">
              <button type="submit" class="btn btn-danger">Odrzuć</button>
            </form>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
