{% extends "base.html" %}
{% block title %}Weryfikacja Wydarzeń{% endblock %}
{% block content %}
<style>
   .container {
    background-color: #f8f9fa; /* Jasny szary */
    color: #333333; /* Ciemnoszary */
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    width: 95%;
    margin: 1% auto; /* Zmieniono margin-top na margin, aby centrować */
  }
  .container_create_survey, .container_create_survey2 {
    position: relative;
    background-color: #b4dfe5; /* Pastelowy niebieski */
    color: #333333; /* Ciemnoszary */
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 30px;
    margin-top: 20px;
  }
  .container1, .container2, .container3 {
    background-color: #b4dfe5; /* Jasny szary */
    border-radius: 15px;
    border: 2px solid white; /* Dodajemy białą obwódkę */
    overflow: hidden; /* Zapobiega wydostawaniu się elementów potomnych poza kontener */
    font-family: Arial, sans-serif; /* Ustawiamy font czcionki */
  }

  .btn-group {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .btn-group form {
    margin: 0 5px;
  }
  .list-group-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
</style>
<div class="container">
  <h1 class="text-center">Weryfikacja wydarzeń</h1>
  <div class="container_create_survey">
    <div class="card-header container2">
      <h2 class="mb-0">Weryfikacja zgłoszeń</h2>
    </div>
    <ul class="list-group list-group-flush">
      {% for report in pending_reports %}
        <li class="list-group-item container3">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ report.name }}</h5>
            <small>{{ report.date }}</small>
          </div>
          <p class="mb-1">{{ report.data }}</p>
          <p class="mb-1">{{ report.place }}</p>
          <div class="btn-group" role="group">
            <form method="POST" action="{{ url_for('views.update_report_status', report_id=report.id, action='accept') }}">
              <button type="submit" class="btn btn-success">Zaakceptuj</button>
            </form>
            <form method="POST" action="{{ url_for('views.update_report_status', report_id=report.id, action='reject') }}">
              <button type="submit" class="btn btn-danger">Odmów</button>
            </form>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
