{% extends "base.html" %}
{% block title %}Kalendarz{% endblock %}
{% block content %}
 <style>
.calendar-container {
    background-color: #f8f9fa; /* Jasny szary */
    color: #000000; /* Ciemnoszary */
    text-align: center;
    padding: 20px;
    height: 85vh;
    border-radius: 15px;
    overflow: hidden;
}

.header {
    position: relative;
    background-color: #b4dfe5; /* Pastelowy niebieski */
    color: #000000; /* Ciemnoszary */
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    text-align: center;
    padding: 20px 0;
    width: 98%; /* Szerokość ustawiona na 70% */
    margin: 0 auto; /* Wyśrodkowanie w poziomie */
    height:70vh;
}

.calendar {
    display: inline-block;
    width: 80%; /* Zajmowanie 80% szerokości diva header */
    margin-top:5%;
    border-radius: 15px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #53798e;
}

th, td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
    width: calc(100% / 7);
    font-size: 12px;
}

th {
    background-color: #42464a;
    color: white;
}

td:hover {
    background-color: #f5f5f5;
}

.event-info {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #42464a;
    color: white;
    padding: 10px;
    z-index: 1;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    max-width: 1000px;
    white-space: normal;
    width: fit-content;
}

td:hover .event-info {
    display: block;
    opacity: 1;
}

tbody {
    color: white;
}

.event-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.event-info ul li {
    margin-bottom: 5px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #42464a;
    border-radius: 50%;
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

td.has-event .event-info {
    display: block;
    max-width: 1500px;
    width: 200%;
}

td.has-event .dot {
    display: block;
}

</style>



<div class="calendar-container">
<h1 style="width: 100%; text-align: center;">Kalendarz</h1>
  <div class="header">
      <div class="calendar">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="7">{{ current_month }}</th>
        </tr>
        <tr>
          <th>Poniedziałek</th>
          <th>Wtorek</th>
          <th>Środa</th>
          <th>Czwartek</th>
          <th>Piątek</th>
          <th>Sobota</th>
          <th>Niedziela</th>
        </tr>
      </thead>
      <tbody>
        {% for week in calendar %}
          <tr>
            {% for day, events in week %}
              <td class="{% if events %}has-event{% endif %}">
                {% if day %}
                  <span class="day">{{ day }}</span>
                  <div class="dot"></div>
                  <div class="event-info">
                    <ul>
                      {% for event in events %}
                        <li><strong>{{ event.name }}</strong></li>
                        <li><em>{{ event.date }}</em></li>
                        <li>{{ event.place }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</div>

{% endblock %}