{% extends "base.html" %}
{% block title %}Calendar{% endblock %}
{% block content %}
  <h1 align="center">{{ current_month }}</h1> <!-- Aktualny miesiąc -->
  <div class="calendar">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>
      </thead>
      <tbody>
        {% for week in calendar %}
          <tr>
            {% for day, events in week %}
              <td>
                {% if day %}
                  {{ day }}
                  <ul>
                    {% for event in events %}
                      <li>{{ event.name }}</li>
                      <li>{{ event.date }}</li>
                      <li>{{ event.place }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
