{% extends "base.html" %}
{% block title %}Anulowana płatność{% endblock %}

{% block content %}
<style>
  body {
    background-color: #f0f0f0; 
    color: #000000; 
    font-family: 'Arial', sans-serif;
  }
  .cancel-container {
    background-color: #ecf0f1; 
    border-radius: 5px;
    max-width: 600px; 
    margin: 20px auto; 
    padding: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center; 
  }
  a {
    color: #2c3e50; 
  }
  .countdown {
    color: #888; 
    margin-top: 10px; 
  }
</style>
<script>
  function startCountdown(duration, display) {
    var timer = duration, seconds;
    setInterval(function () {
      seconds = parseInt(timer % 60, 10);
      display.textContent = seconds + " sekund" + (seconds === 1 ? "e" : "")+(seconds === 2 ? "y":"")+(seconds === 3 ? "y":"");

      if (--timer < 0) {
        window.location.href = '/';
      }
    }, 1000);
  }

  window.onload = function () {
    var countdownDuration = 3;
    var display = document.querySelector('#time');
    startCountdown(countdownDuration, display);
  };
</script>

<div class="cancel-container">
  <section>
    <p>Zawsze możesz wrócić do płatności. Jeśli napotkałeś jakiś problem, skontaktuj się z nami! Kontakt: egminakonstantynow@gmail.com</p>
    <p class="countdown">Przekierowanie na stronę główną za <span id="time">3 sekundy</span>.</p>
  </section>
</div>
{% endblock %}
