{% extends "base.html" %}
{% block title %}Wydarzenia{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="bg-primary rounded p-3 mb-4">
        <h2 class="text-white text-center mb-0">Dodaj wydarzenie</h2>
      </div>
      <form method="POST">
        <div class="form-group">
          <label for="name">Nazwa:</label>
          <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="form-group">
          <label for="data">Opis:</label>
          <input type="text" class="form-control" id="data" name="data" required>
        </div>

        <div class="form-group">
          <label for="date">Data:</label>
          <input type="datetime-local" class="form-control" id="date" name="date" required>
        </div>

        <div class="form-group">
          <label for="place">Adres:</label>
          <input type="text" class="form-control" id="place" name="place" required>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Dodaj wydarzenie</button>
      </form>
    </div>

    <div class="col-md-6">
      <div class="bg-primary rounded p-3 mb-4">
        <h2 class="text-white text-center mb-0">Moje wydarzenia</h2>
      </div>

      <div class="list-group mt-3">
        {% for event in user_events %}
        <div class="list-group-item">
          {% if event.status == 'rejected' %}
          <p class="text-danger">Twoje wydarzenie "{{ event.name }}" zostało odrzucone.</p>
          <button type="button" class="btn btn-danger" onClick="deleteEvent({{ event.id }})">Usuń</button>
          {% else %}
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ event.name }}</h5>
            <small>{{ event.date }}</small>
          </div>
          <p class="mb-1">{{ event.data }}</p>
          <p class="mb-1">{{ event.place }}</p>
          <div id="map-{{ event.id }}" style="height: 200px;"></div>
          <button type="button" class="btn btn-danger mt-2" onClick="deleteEvent({{ event.id }})">Usuń</button>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgRv7f0CZS1zchzAV9WsXTMRrCmIHxY_M"></script>
<script>
  {% for event in user_events %}
  var map{{ event.id }} = new google.maps.Map(document.getElementById('map-{{ event.id }}'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 15
  });

  var geocoder{{ event.id }} = new google.maps.Geocoder();
  var address{{ event.id }} = "{{ event.place }}";
  geocoder{{ event.id }}.geocode({'address': address{{ event.id }}}, function(results, status) {
    if (status === 'OK') {
      map{{ event.id }}.setCenter(results[0].geometry.location);
      var marker{{ event.id }} = new google.maps.Marker({
        map: map{{ event.id }},
        position: results[0].geometry.location
      });
    } else {
      console.error('Geocode was not successful for the following reason: ' + status);
    }
  });
  {% endfor %}
</script>
{% endblock %}
