{% extends "base.html" %}
{% block title %}E-Gmina{% endblock %}
{% block content %}
<style>
/* Pozycjonowanie obrazka */
.banner {
    width: 100%; /* Rozciągnięcie na szerokość strony */
    background-image: url('{{ url_for('static', filename='konstantynow.jpg') }}'); /* Ścieżka do twojego pliku PNG */
    background-size: cover; /* Dopasowanie rozmiaru obrazka */
    background-position: center; /* Wycentrowanie obrazka */
    height: 400px; /* Wysokość obrazka (dostosuj do swoich potrzeb) */
}
.col-md-12 {
    background-color: #f8f9fa; /* Jasny szary */
    color: #333333; /* Ciemnoszary */
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

.list-group-item.event-item {
    position: absolute; /* Dodanie absolutnego pozycjonowania */
    width: 100%; /* Szerokość 100% dla elementu listy */
    top: 0;
    left: 0;
    background-color: #b4dfe5; /* Pastelowy niebieski */
    color: #333333; /* Ciemnoszary */
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    transition: opacity 0.5s ease-in-out; /* Dodanie animacji przejścia */
    opacity: 0; /* Początkowa przezroczystość */
    z-index: 0; /* Początkowy z-index */
}

.mapa {
    background-color: #b4dfe5; /* Pastelowy niebieski */
    border-radius: 15px;
    flex: 1; /* Mapa zajmuje pozostałe dostępne miejsce */
    height: 250px;
    margin-right: 10px;
}

.row {
    margin-top: 20px;
}

.event-item:first-child {
    opacity: 1; /* Ustawienie widoczności dla pierwszego elementu */
    z-index: 1; /* Wyższy z-index dla widocznego elementu */
}

.left-arrow,
.right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 28px;
    height: 28px;
    background-color: #f8f9fa; /* Jasny szary */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Ustawienie wyższego z-indexu dla strzałek */
}

.left-arrow svg,
.right-arrow svg {
    width: 20px;
    height: 20px;
    fill: #333333; /* Ciemnoszary */
}

.event-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.event-details {
    flex: 0.4;
    margin-right: 20px;
    margin-top: 80px; /* Dodatkowy margines od góry */
}

/* Nowa klasa dla przycisku "Znajomi" */
.friends-button {
    background-color: #467a7a; /* Odcień #467a7a */
    color: #ffffff; /* Biały tekst na tle #467a7a */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px; /* Dodatkowy margines */
    display: inline-block;
}

.friends-button:hover {
    background-color: #3a625c; /* Ciemniejszy odcień */
}
</style>
<div class="banner"></div>
<div class="row">
    <div class="col-md-12">
        <h1>Wydarzenia</h1>
        <div class="events-wrapper" style="position: relative; height: 300px;"> <!-- Dodanie stylu position relative do wrappera -->
            <ul class="list-group list-group-flush" id="Events">
                {% for event in accepted_events %}
                <li class="list-group-item event-item">
                    <div class="event-details">
                        <strong class="event-name">{{ event.name }}</strong><br>
                        <div class="event-description">
                            {{ event.data }}<br>
                            {{ event.date }}<br>
                        </div>
                    </div>
                    <div class="mapa" id="map-{{ event.id }}"></div>
                </li>
                {% endfor %}
            </ul>
            <div class="left-arrow" style="position: absolute; top: 47%; transform: translateY(-50%); left: 0; cursor: pointer;">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.354 12.354a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L7.707 8l2.647 2.646a.5.5 0 0 1 0 .708z"/>
                </svg>
            </div>
            <div class="right-arrow" style="position: absolute; top: 47%; transform: translateY(-50%); right: 0; cursor: pointer;">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5.646 12.354a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L8.293 8 5.646 10.646a.5.5 0 0 0 0 .708z"/>
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {% include 'calendar_home.html' %}
    </div>
    <div class="col-md-6">
        {% include 'maps_home.html' %}
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgRv7f0CZS1zchzAV9WsXTMRrCmIHxY_M&callback=initMap"></script>
<script>
    var currentEvent = 0;
    var eventItems = document.querySelectorAll('.event-item');
    var autoSwitchInterval;

    function showEvent(index) {
        eventItems.forEach(function(item, i) {
            if (i === index) {
                item.style.opacity = '1';
                item.style.zIndex = '1'; /* Wyższy z-index dla widocznego elementu */
            } else {
                item.style.opacity = '0';
                item.style.zIndex = '0'; /* Niższy z-index dla niewidocznych elementów */
            }
        });
    }

    function resetAutoSwitch() {
        clearInterval(autoSwitchInterval);
        autoSwitchInterval = setInterval(nextEvent, 5000); // Ustawienie automatycznego przełączania co 5 sekund
    }

    document.addEventListener('DOMContentLoaded', function() {
        showEvent(currentEvent);
        resetAutoSwitch();
    });

    function nextEvent() {
        currentEvent++;
        if (currentEvent >= eventItems.length) {
            currentEvent = 0;
        }
        showEvent(currentEvent);
        resetAutoSwitch();
    }

    function prevEvent() {
        currentEvent--;
        if (currentEvent < 0) {
            currentEvent = eventItems.length - 1;
        }
        showEvent(currentEvent);
        resetAutoSwitch();
    }

    document.querySelector('.left-arrow').addEventListener('click', prevEvent);
    document.querySelector('.right-arrow').addEventListener('click', nextEvent);

    {% for event in accepted_events %}
    var map{{ event.id }} = new google.maps.Map(document.getElementById('map-{{ event.id }}'), {
        center: { lat: -34.397, lng: 150.644 },
        zoom: 15
    });

    var geocoder{{ event.id }} = new google.maps.Geocoder();
    var address{{ event.id }} = "{{ event.place }}";
    geocoder{{ event.id }}.geocode({ 'address': address{{ event.id }} }, function(results, status) {
        if (status === 'OK') {
            map{{ event.id }}.setCenter(results[0].geometry.location);
            var marker{{ event.id }} = new google.maps.Marker({
                map: map{{ event.id }},
                position: results[0].geometry.location
            });
        } else {
            console.error('Geocode was not successful for the following reason: ' + status);
        }
    });
    {% endfor %}
</script>
{% endblock %}
