{% extends "base.html" %}
{% block title %}Zaloguj się{% endblock %}
{% block content %}
<style>
  .container {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0); /* Jasny szary */
    color: #000000; /* Ciemnoszary */
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    margin-top: 7%;
    position: relative; /* Dodajemy pozycję względną, aby przenieść obrazek */
  }
  .image-outside-container {
    position: absolute; /* Ustawiamy absolutną pozycję dla obrazka */
    left: -120px; /* Ustawiamy odległość od lewej strony */
  }
  .image-container {
    flex: 1;
    text-align: center;
    margin-right: 20px; /* Dodany odstęp między zdjęciem a formularzem logowania */
  }
  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
  .container-login {
    flex: 1;
    background-color: rgba(180, 233, 229, 0.3);; /* Pastelowy niebieski */
    color: #000000; /* Ciemnoszary */
    border-radius: 15px;
    padding: 30px;
    margin-top: 20px;
    align-items: flex-start; /* Wyrównanie do góry */
  }
  .btn-log {
      background-color: #328685;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  }
</style>

<div class="container">
  <div class="image-outside-container">
    <img src="{{ url_for('static', filename='info.png') }}" alt="Zdjęcie">
  </div>
  <div class="image-container">

  </div>
  <div class="container-login">
    <h1 align="center">Zaloguj się</h1>
    <form method="POST">
      <div class="form-group">
        <label for="email">Adres e-mail</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Wpisz email">
      </div>
      <div class="form-group">
        <label for="password">Hasło</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Wpisz hasło">
      </div>
      <br>
      <button type="submit" class="btn-log">Login</button>
    </form>
  </div>
</div>
{% endblock %}
