<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maps</title>
    <style>
        /* Dodaj wszystkie style CSS tutaj */
        /* Przykład: */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    <!-- Dodaj wszystkie skrypty JavaScript tutaj -->
    <!-- Przykład: -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgRv7f0CZS1zchzAV9WsXTMRrCmIHxY_M&callback=initMap" async defer></script>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 51.747585, lng: 19.325453 },
            zoom: 15
        });

        // Pętla tworząca markery dla wszystkich znaczników z bazy danych
        {% for marker in markers %}
        var marker = new google.maps.Marker({
            position: { lat: parseFloat('{{ marker.lat }}'), lng: parseFloat('{{ marker.lng }}') },
            map: map,
            title: '{{ marker.address }}',
            address: '{{ marker.address }}',  // Przechowujemy adres w właściwości markerów
            description: '{{ marker.description }}'  // Przechowujemy opis w właściwości markerów
        });

        var infoWindow = new google.maps.InfoWindow(); // Tworzymy infoWindow dla danego markera

        marker.addListener('click', function() {
            var infoWindowContent = '<div><h5>' + this.address + '</h5><p>' + this.description + '</p></div>';
            infoWindow.setContent(infoWindowContent); // Ustawiamy treść infoWindow dla danego markera
            infoWindow.open(map, this); // Otwieramy infoWindow dla danego markera
        });
        {% endfor %}
    }
</script>
</head>
<body>
    <div id="map"></div>
    <!-- Dodaj treść HTML strony tutaj -->
</body>
</html>
