{% extends "base.html" %}
{% block title %}Trash Bins Map{% endblock %}
{% block content %}
  <h1 align="center">Trash Bins Map</h1>
  <div id="map" style="height: 400px; width: 100%;"></div>
  <script>
    function initMap() {
        var konstantynow = {lat: 51.7456, lng: 19.3452}; // Współrzędne Konstantynowa Łódzkiego
        var map = new google.maps.Map(document.getElementById('map'), {
            center: konstantynow, // Ustawienie punktu startowego na Konstantynów Łódzki
            zoom: 14, // Trochę większy zoom
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            gestureHandling: 'greedy',
            zoomControl: true,
            mapTypeControl: true,
            scaleControl: true,
            streetViewControl: true,
            rotateControl: true,
            fullscreenControl: true
        });

        // Dane dotyczące śmietników w Konstantynowie Łódzkim
        var trashBins = [
            {#{"lat": 51.7512, "lng": 19.3413}, // Przykładowe współrzędne śmietnika#}
            {#{"lat": 51.7498, "lng": 19.3435},#}
            // Tutaj dodaj więcej współrzędnych dla pozostałych śmietników
        ];

        // Dodawanie markerów na mapie dla każdego śmietnika
        trashBins.forEach(trashBin => {
            var marker = new google.maps.Marker({
                position: {lat: trashBin.lat, lng: trashBin.lng},
                map: map,
                title: 'Trash Bin'
            });
        });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgRv7f0CZS1zchzAV9WsXTMRrCmIHxY_M&callback=initMap" async defer></script>
{% endblock %}
