{% extends "base.html" %}
{% block title %}Wszystkie odblokowane bony{% endblock %}
{% block content %}
<style>
.banner {
    width: 100%; /* Rozciągnięcie na szerokość strony */
    background-image: url('{{ url_for('static', filename='bony.png') }}'); /* Ścieżka do twojego pliku PNG */
    background-size: cover; /* Dopasowanie rozmiaru obrazka */
    background-position: center; /* Wycentrowanie obrazka */
    height: 400px; /* Wysokość obrazka (dostosuj do swoich potrzeb) */
    border-radius: 15px; /* Dodanie zaokrąglonych rogów */
}
#container{
    background-color: rgb(250,250,250,1);
    color: #333333; /* Ciemnoszary */
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    margin-top: 1%;
}

h1 {
    text-align: center;
}

.stores {
    display: flex;
    flex-direction: column;
}

.store {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #fff;
}

h2 {
    margin: 0;
}

p {
    margin: 5px 0;
}

.btn{
    margin-top:20px;
}
button {
    margin-top: 20px;
    background-color: #328685;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #328685;
}

.flashes {
    list-style: none;
    padding: 0;
}

.flashes li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.danger {
    background-color: #f8d7da;
    color: #721c24;
}
.box {
    background-color: #b4dfe5; /* Pastelowy niebieski */
    color: #333333; /* Ciemnoszary */
    padding: 20px;
    border-radius: 15px;
    margin-top: 1%;
    min-height: 80px;
}

.voucher-item {
    padding: 10px 0;
    border-bottom: 1px dashed #000; /* Przerywana linia */
}

.voucher-item:last-child {
    border-bottom: none; /* Usunięcie dolnej granicy dla ostatniego elementu */
}
</style>

<div class="banner"></div>

<div id="container">
    <h1>Moje bony</h1>
    <div class="box">
        {% for voucher in vouchers %}
        <div class="voucher-item">
            Sklep: {{ voucher.store_name }} - Kod: {{ voucher.code }} - Data wydania: {{ voucher.creation_time }}
        </div>
        {% endfor %}
        <br>
        <a class="btn btn-info" href="{{ url_for('views.exchange_points') }}">Wróć</a>
    </div>
</div>

{% endblock %}
