{% extends "base.html" %}
{% block title %}Wszystkie odblokowane bony{% endblock %}
{% block content %}
<style>
.container{
    background-color: rgb(180,223,229,0);
    color: #333333; /* Ciemnoszary */
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    width: 95%;
    margin-top: 1%;
}

h1 {
    text-align: center;
}

.stores {
    display: flex;
    flex-direction: column;
}

.store {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #fff;
}

h2 {
    margin: 0;
}

p {
    margin: 5px 0;
}

button {
    margin-top: 10px;
    background-color: #328685;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #328685;
}

.flashes {
    list-style: none;
    padding: 0;
}

.flashes li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.danger {
    background-color: #f8d7da;
    color: #721c24;
}
</style>
<body>
<div class="container">
    <h1>Moje bony</h1>
    <ul>
        {% for voucher in vouchers %}
        <li>
            Sklep: {{ voucher.store_name }} - Kod: {{ voucher.code }} - Data wydania: {{ voucher.creation_time }}
        </li>
        {% endfor %}
    </ul>
    <a class="btn btn-info" href="{{ url_for('views.exchange_points') }}">Wróć</a>
</div>
</body>
{% endblock %}