{% extends "base.html" %}
{% block title %}Zgłoś naruszenie środowiskowe{% endblock %}
{% block content %}
    <style>
    #Reports{
        background-color: #b4dfe5;
        border-radius: 15px;
        padding: 10px;
    }
     .list-group-item{
        background-color: #b4dfe5;
    }
        .container1, .container2 {
            background-color: #f8f9fa; /* Jasny szary */
            color: #333333; /* Ciemnoszary */
            text-align: center;
            padding: 20px;
            border-radius: 15px;
            width: 100%;
            margin-top: 2%;
        }
        .container_event {
            position: relative;
            background-color: #b4dfe5; /* Pastelowy niebieski */
            color: #333333; /* Ciemnoszary */
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            padding: 30px;
            margin-top: 20px;
        }
        input[type="text"],
        input[type="datetime-local"],
        button {
            padding: 10px;
            margin: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 90%;
            box-sizing: border-box;
        }
        button {
            background-color: #007bff; /* Niebieski */
            color: #ffffff; /* Biały */
            cursor: pointer;
            width:15%;
        }
    .banner {
    width: 100%; /* Rozciągnięcie na szerokość strony */
    background-image: url('{{ url_for('static', filename='naruszenia.png') }}'); /* Ścieżka do twojego pliku PNG */
    background-size: cover; /* Dopasowanie rozmiaru obrazka */
    background-position: center; /* Wycentrowanie obrazka */
    height: 400px; /* Wysokość obrazka (dostosuj do swoich potrzeb) */
    border-radius: 15px; /* Dodanie zaokrąglonych rogów */
}

</style>
<div class="banner"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="container1">
                    <h1 align="center">Zgłoś naruszenie środowiskowe</h1>
                    <div class="container_event">
                        <form method="POST">
                            <label for="place">Wskaż miejsce naruszenia:</label><br>
                            <input type="text" id="place" name="place" required><br>

                            <label for="data">Opis naruszenia:</label><br>
                            <input type="text" id="data" name="data" required><br>
                            <button type="submit">Zgłoś</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container2">
                    <div class="container_report">
                        <h1 align="center">Moje zgłoszenia</h1>
                        <ul class="list-group list-group-flush" id="Reports">
                            {% for report in user_reports %}
                                <li class="list-group-item">
                                    <strong>Opis:</strong> {{ report.data }}<br>
                                    <strong>Data:</strong> {{ report.date }}<br>
                                    <strong>Miejsce:</strong> {{ report.place }}<br>
                                    <div id="map-{{ report.id }}" style="height: 155px;"></div>
                                    {% if report.status == 'rejected' %}
                                        <p>Twoje zgłoszenie zostało odrzucone.</p>
                                    {% elif report.status == 'accepted' %}
                                        <p>Twoje zgłoszenie zostało zatwierdzone.</p>
                                    {%else%}
                                        <p>Twoje zgłoszenie czeka na rozpatrzenie.</p>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgRv7f0CZS1zchzAV9WsXTMRrCmIHxY_M"></script>
    <script>
        {% for report in user_reports %}
            var map{{ report.id }} = new google.maps.Map(document.getElementById('map-{{ report.id }}'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 15
            });

            var geocoder{{ report.id }} = new google.maps.Geocoder();
            var address{{ report.id }} = "{{ report.place }}";
            geocoder{{ report.id }}.geocode({ 'address': address{{ report.id }} }, function (results, status) {
                if (status === 'OK') {
                    map{{ report.id }}.setCenter(results[0].geometry.location);
                    var marker{{ report.id }} = new google.maps.Marker({
                        map: map{{ report.id }},
                        position: results[0].geometry.location
                    });
                } else {
                    console.error('Geocode was not successful for the following reason: ' + status);
                }
            });
        {% endfor %}
    </script>
{% endblock %}
