{% extends "base.html" %}
{% block title %}Segregacja Odpadów{% endblock %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
    }
    .container {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        background-color: #f8f9fa; /* Jasny szary */
        color: #333333; /* Ciemnoszary */
        padding: 20px;
        border-radius: 15px;
        margin-top: 7%;
    }
    form {
        background-color: #b4dfe5; /* Pastelowy niebieski */
        color: #333333; /* Ciemnoszary */
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        padding: 30px;
        margin-top: 20px;
    }
    h1 {
        white-space: nowrap; /* Nie dziel tytułu na wiele linii */
        margin-bottom: 20px; /* Dodaj margines na dole */
        text-align:center;
    }
    input[type="text"], input[type="email"], input[type="password"], datalist {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
    }
    button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }
    button:hover {
        background-color: #45a049;
    }
</style>
<div class="container">
    <h1>Segregacja</h1>
    <form action="{{ url_for('views.segregate') }}" method="post">
        <label for="waste_description">Opis odpadu:</label>
        <input type="text" id="waste_description" name="waste_description" list="waste_list" required>
        <datalist id="waste_list">
            {% for category, items in categories.items() %}
                {% for item in items %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            {% endfor %}
        </datalist>
        <button type="submit">Segreguj</button>
    </form>
    {% if result %}
        <p>{{ result }}</p>
    {% endif %}
</div>
{% endblock %}
