{% extends "base.html" %}
{% block title %}Wybór konta{% endblock %}
{% block content %}
<style>
  .container {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    background-color: rgb(250,250,250,1);
    color: #000000; 
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    margin-top: 2%;
    position: relative; 
  }
  .image-outside-container {
    position: absolute; 
    left: -10px; 
  }
  .image-container {
    flex: 1;
    text-align: center;
    margin-right: 20px;
  }
  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
  .container_signup_type {
    flex: 1;
    background-color: #b4dfe5; 
    color: #000000; 
    border-radius: 15px;
    padding: 30px;
    margin-top: 20px;
    align-items: flex-start; 
    text-align: center; 
  }
  .icon-container {
    display: flex;
    justify-content: center;
  }
  .icon-container img {
    width: 80px; 
    height: auto;
    margin: 0 30px; 
  }
  button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #467a7a; 
    color: #ffffff; 
    cursor: pointer;
  }

  @media (max-width: 1200px) {
    .image-outside-container {
      position: relative; 
      left: 0; 
      margin-bottom: 20px; 
      text-align: center;
    }
    .container {
      flex-direction: column; 
    }
  }

  @media (max-width: 768px) {
    .container {
      width: 100%; 
      padding: 10px;
    }
    .container_signup_type {
      padding: 20px; 
    }
    .icon-container img {
      width: 60px; 
      margin: 0 20px;
    }
    button {
      padding: 8px 16px;
      margin: 5px;
    }
  }
</style>

<div class="container">
  <div class="image-outside-container">
    <img src="{{ url_for('static', filename='info.png') }}" alt="Zdjęcie">
  </div>
  <div class="image-container">
  </div>
  <div class="container_signup_type">
    <h1>Zarejestruj się</h1>
    <div class="icon-container">
      <img src="{{ url_for('static', filename='ikona.png') }}" alt="Użytkownik">
      <img src="{{ url_for('static', filename='ikona-grupa.png') }}" alt="Mcdonalds">
    </div>
    <div>
      <button type="button" onclick="ChooseType(1)">Użytkownik</button>
      <button type="button" onclick="ChooseType(2)">Organizacja</button>
    </div>
  </div>
</div>

<script>
function ChooseType(Number) {
    switch(Number) {
        case 1:
            window.location.href = "{{ url_for('auth.sign_up_user') }}";
            break;
        case 2:
            window.location.href = "{{ url_for('auth.sign_up_org') }}";
            break;
    }
}
</script>
{% endblock %}
