{% extends "base.html" %}
{% block title %}Sign Up Type{% endblock %}
{% block content %}
    <div style="text-align: center;">
        <div style="display: inline-block;">
            <img src="{{ url_for('static', filename='użytkownik.png') }}"  width="300" height="200">
            <img src="{{ url_for('static', filename='mcdonalds.png') }}"  width="300" height="200">
        </div>
        <div>
            <button onclick="ChooseType(1)">Użytkownik</button>
            <button onclick="ChooseType(2)">Organizacja</button>
        </div>
    </div>
    <script>
        function ChooseType(Number) {
            switch(Number) {
                case 1:
                    window.location.href = "{{ url_for('auth.sign_up_user') }}";
                    break;
                case 2:
                    window.location.href = "{{ url_for('auth.sign_up_org') }}";
                    break;
            }
        }
    </script>
{% endblock %}