{% extends "base.html" %}
{% block title %}Zarejestruj użytkownika{% endblock %}
{% block content %}
<style>
  .container {
    display: flex;
    flex-wrap: wrap; /* Pozwala elementom przejść do następnego wiersza przy zmniejszeniu okna */
    align-items: center;
    background-color: rgb(250,250,250,1);
    color: #000000; /* Ciemnoszary */
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    margin-top: 7%;
    position: relative; /* Pozycja względna, aby przenieść obrazek */
  }
  .image-outside-container {
    position: absolute; /* Absolutna pozycja dla obrazka */
    left: -120px; /* Odległość od lewej strony */
  }
  .image-container {
    flex: 1;
    text-align: center;
    margin-right: 20px; /* Odstęp między zdjęciem a formularzem logowania */
  }
  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
  .container_signup_user {
    flex: 1;
    background-color: rgba(180, 233, 229, 0.5); /* Pastelowy niebieski */
    color: #000000; /* Ciemnoszary */
    border-radius: 15px;
    padding: 30px;
    margin-top: 20px;
    align-items: flex-start; /* Wyrównanie do góry */
    text-align: center; /* Wyśrodkowanie zawartości */
  }
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #467a7a; /* Kolor przycisku */
    color: #ffffff; /* Kolor tekstu */
  }
  .custom-file-upload input[type="file"] {
    display: none;
  }

  @media (max-width: 1200px) {
    .image-outside-container {
      position: relative; /* Względna pozycja dla mniejszych ekranów */
      left: 0; /* Resetowanie odległości od lewej strony */
      margin-bottom: 20px; /* Odstęp poniżej obrazka */
      text-align: center;
    }
    .container {
      flex-direction: column; /* Elementy w kolumnie */
    }
  }

  @media (max-width: 768px) {
    .container {
      width: 100%; /* Pełna szerokość dla bardzo małych ekranów */
      padding: 10px;
    }
    .container_signup_user {
      padding: 20px; /* Mniejsze padding dla małych ekranów */
    }
    .image-container img {
      max-width: 80%; /* Zmniejszenie obrazka dla mniejszych ekranów */
    }
  }
</style>

<div class="container">
  <div class="image-outside-container">
    <img src="{{ url_for('static', filename='info.png') }}" alt="Zdjęcie">
  </div>
  <div class="image-container">
    <!-- Placeholder for additional content if needed -->
  </div>
  <div class="container_signup_user">
    <h1>Zarejestruj się</h1>
    <form method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="email">Adres e-mail</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Wpisz email">
      </div>
      <div class="form-group">
        <label for="username">Nazwa użytkownika</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Wpisz nazwę użytkownika">
      </div>
      <div class="form-group">
        <label for="name">Imię</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Wpisz imię">
      </div>
      <div class="form-group">
        <label for="surname">Nazwisko</label>
        <input type="text" class="form-control" id="surname" name="surname" placeholder="Wpisz nazwisko">
      </div>
      <div class="form-group">
        <label for="address">Adres</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Wpisz adres">
      </div>
      <div class="form-group">
        <label for="pesel">Pesel</label>
        <input type="number" class="form-control" id="pesel" name="pesel" placeholder="Wpisz pesel">
      </div>
      <div class="form-group">
        <label for="password1">Hasło</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Wpisz hasło">
      </div>
      <div class="form-group">
        <label for="password2">Potwierdź hasło</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Potwierdź hasło">
      </div>
      <div class="form-group">
        <label for="document_image">Zdjęcie dokumentu potwierdzającego tożsamość</label>
        <label class="custom-file-upload">
          <input type="file" id="document_image" name="document_image" />
          Wybierz plik
        </label>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Zarejestruj</button>
    </form>
  </div>
</div>
{% endblock %}
