{% extends "base.html" %}
{% block title %}Zarejestruj użytkownika{% endblock %}
{% block content %}
<style>
  .container {
    background-color: #f8f9fa; /* Jasny szary */
    color: #333333; /* Ciemnoszary */
    text-align: center;
    padding: 20px;
    padding-top: 4px;
    border-radius: 15px;
    width: 95%;
    margin-top: 2%;
  }
  .container_signup_user {
    position: relative;
    background-color: #b4dfe5; /* Pastelowy niebieski */
    color: #333333; /* Ciemnoszary */
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 30px;
    margin-top: 20px;
  }
</style>
<div class="container">
  <h1 align="center">Zarejestruj się</h1>
  <div class="container_signup_user">
    <form method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="email">Adres e-mail</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Wpisz email" />
      </div>
      <div class="form-group">
        <label for="username">Nazwa użytkownika</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Wpisz nazwę użytkownika" />
      </div>
      <div class="form-group">
        <label for="name">Imię</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Wpisz imię" />
      </div>
      <div class="form-group">
        <label for="surname">Nazwisko</label>
        <input type="text" class="form-control" id="surname" name="surname" placeholder="Wpisz nazwisko" />
      </div>
      <div class="form-group">
        <label for="address">Adres</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Wpisz adres" />
      </div>
      <div class="form-group">
        <label for="pesel">Pesel</label>
        <input type="number" class="form-control" id="pesel" name="pesel" placeholder="Wpisz pesel" />
      </div>
      <div class="form-group">
        <label for="password1">Hasło</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Wpisz hasło" />
      </div>
      <div class="form-group">
        <label for="password2">Potwierdź hasło</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Potwierdź hasło" />
      </div>
      <div class="form-group">
        <label for="document_image">Zdjęcie dokumentu potwierdzajacego tożsamość</label>
        <input type="file" class="form-control" id="document_image" name="document_image" />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Zarejestruj</button>
    </form>
  </div>
</div>
{% endblock %}