{% extends "base.html" %}
{% block title %}Zarejestruj Organizację{% endblock %}
{% block content %}
<style>
  .container {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0); /* Jasny szary */
    color: #000000; /* Ciemnoszary */
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    margin-top: 7%;
    position: relative; /* Dodajemy pozycję względną, aby przenieść obrazek */
  }
  .image-outside-container {
    position: absolute; /* Ustawiamy absolutną pozycję dla obrazka */
    left: -120px; /* Ustawiamy odległość od lewej strony */
  }
  .image-container {
    flex: 1;
    text-align: center;
    margin-right: 20px; /* Dodany odstęp między zdjęciem a formularzem logowania */
  }
  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
  .container_signup_org {
    flex: 1;
    background-color: rgba(180, 233, 229, 0.3); /* Pastelowy niebieski */
    color: #333333; /* Ciemnoszary */
    border-radius: 15px;
    padding: 30px;
    margin-top: 20px;
    align-items: flex-start; /* Wyrównanie do góry */
    text-align: center; /* Wyśrodkowanie zawartości */
  }
</style>

<div class="container">
  <div class="image-outside-container">
    <img src="{{ url_for('static', filename='info.png') }}" alt="Zdjęcie">
  </div>
  <div class="image-container">

  </div>
  <div class="container_signup_org">
    <h3>Zarejestruj się</h3>
    <form method="POST">
      <div class="form-group">
        <label for="email">Adres e-mail</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Wpisz email">
      </div>
      <div class="form-group">
        <label for="name">Nazwa organizacji</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Wpisz nazwę organizacji">
      </div>
      <div class="form-group">
        <label for="address">Adres</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Wpisz adres">
      </div>
      <div class="form-group">
        <label for="nip">NIP</label>
        <input type="number" class="form-control" id="nip" name="nip" placeholder="Wpisz NIP">
      </div>
      <div class="form-group">
        <label for="password1">Hasło</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Wpisz hasło">
      </div>
      <div class="form-group">
        <label for="password2">Potwierdź hasło</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Potwierdź hasło">
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Zarejestruj</button>
    </form>
  </div>
</div>
{% endblock %}
