{% extends "base.html" %}
{% block title %}Dostępne ankiety{% endblock %}
{% block content %}
<style>
    .container {
        background-color: rgb(250,250,250,1);
        color: #000000; /* Ciemnoszary */
        text-align: center;
        padding: 20px;
        border-radius: 15px;
        width: 50%;
        margin: 0 auto;
        margin-top: 1%;
    }
    h2 {
        margin-bottom: 20px; /* Dodaj margines na dole nagłówka */
    }
    .list-group-item {
        border: none; /* Usuń obramowanie dla każdego elementu listy */
        background-color: transparent; /* Przezroczyste tło */
        padding: 10px 0; /* Dodaj odstępy na górze i na dole */
    }
</style>
<div class="container">
    <h1>Dostępne ankiety</h1>
    {% if surveys %}
        <ul class="list-group">
            {% for survey in surveys %}
                <li class="list-group-item">
                    <a class="btn btn-info" href="{{ url_for('views.fill_survey', survey_id=survey.id) }}">{{ survey.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Brak dostępnych ankiet.</p>
    {% endif %}
</div>
{% endblock %}
