{% extends "base.html" %}
{% block title %}Odpowiedzi na Ankietę{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">Odpowiedzi na Ankietę: {{ survey.title }}</h1>
    <div class="list-group">
        {% for response in responses %}
            <div class="list-group-item">
                <h5>Odpowiedź {{ loop.index }}</h5>
                <ul>
                    {% for answer in response.answers %}
                        <li>{{ answer.question.text }}: {{ answer.text }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
