{% extends "base.html" %}
{% block title %}Czat{% endblock %}
{% block content %}
<style>
  .container {
    border-radius: 15px; /* Zaokrąglamy rogi */
    {#border: 2px solid white; /* Dodajemy białą obwódkę */#}
    overflow: hidden; /* Zapobiega wydostawaniu się elementów potomnych poza kontener */
    font-family: Arial, sans-serif; /* Ustawiamy font czcionki */
  }

  .bg-custom {
    background-color: rgb(180,223,229,0);
  }

  .text-custom {
    color: #000000; /* Kolor tekstu nagłówka */
  }
</style>
<div class="container">
  <div class="bg-custom rounded p-3 mb-4">
    <h1 class="text-custom text-center mb-0">Chat z {{ receiver.username }}</h1>
  </div>
  <div id="messages" class="mb-4">
    {% for message in messages %}
      {% if message.sender_id == current_user.id %}
        <div class="alert alert-primary" role="alert">
          <strong>Ty: </strong>{{ message.content }}
        </div>
      {% else %}
        <div class="alert alert-secondary" role="alert">
          <strong>{{ receiver.username }}: </strong>{{ message.content }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <form id="message-form">
    <div class="input-group mb-3">
      <input type="text" id="message-content" name="content" class="form-control" placeholder="Wpisz wiadomość" aria-label="Wpisz wiadomość" aria-describedby="button-send">
      <button class="btn btn-info" type="submit" id="button-send">Wyślij</button>
    </div>
  </form>
</div>
<script>
  document.getElementById('message-form').addEventListener('submit', function(e) {
    e.preventDefault();
    const content = document.getElementById('message-content').value;
    fetch("/send-message/{{ receiver.id }}", {
      method: "POST",
      body: new URLSearchParams({ content: content }),
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      }
    }).then(response => {
      if (response.ok) {
        window.location.reload();
      }
    });
  });
</script>
{% endblock %}
